#about-wrapper
  padding-top      : 20px

#about-text
  color            : $grey1
  padding-bottom   : 20px

#about-logo
  text-align       : center

  h4
    margin-top     : 0
    margin-bottom  : 20px

#about-footer
  padding-top      : 40px
  background-color : $blue1
  padding-bottom   : 40px
  text-align       : center

  h4
    color          : $black3

#call-us
  color            : $white1
  margin-bottom    : 3px

#email-us
  color            : $white1
  margin-top       : 3px
