#about-wrapper
  padding-top: 20px

#about-text
  color: $grey1

#about-logo
  text-align: center

#about-logo h4
  margin-top:    0
  margin-bottom: 20px 

#about-footer
  padding-top:      40px
  background-color: $blue1
  padding-bottom:   40px

#about-footer h4
  color: $black3

#call-us, #email-us
  color:  $white1

#call-us
  margin-bottom: 3px

#email-us
  margin-top: 3px
