#contact-us-wrapper
  margin-top: 40px
  background-color: $blue1

#contact-title h4
  color      : $black1
  text-align : center
  position   : relative
  top        : -20px

#contact-form label
  color: $white1
  padding-left: 30px
  margin: 0
  text-transform: uppercase

#contact-submit
  text-align: center
  margin-bottom: 20px
  background-color: $black1
