#facilities-title h4
  color              : $black3
  text-align         : center

#major-icons
  background-color   : $black1

  h5
    position: relative
    left: 5px
    padding          : 10px
    color            : $grey2

  span
    padding-left: 20px
    float: left

#minor-icons
  padding-top        : 20px
  padding-bottom     : 20px

  h5
    position: relative
    left: 5px
    padding          : 10px
    color            : $grey2

  span
    padding-left: 20px
    float: left

.glyph-facility
  color: $grey1
