#facilities-title h4
  color:      $black3
  text-align: center

#major-icons
  h5
    text-align: center
    padding: 10px 10px 10px 10px
    color: $grey2

#minor-icons
  padding-top: 20px
  padding-bottom: 20px
