$serif: "minion-pro",serif
$heading: "abril-fatface",serif
$sans-serif: "brandon-grotesque",sans-serif


body, p
  font-family: $serif
  font-style: normal
  font-weight: 400

h1, h2, h3, h4
  font-size: 1.6em
  font-family: $heading
  font-style: italic
  text-align: center

h5
  font-family: $heading

.title
  font-weight: 900

#about-footer h4, #room-image-text p
  font-family: $sans-serif
  font-style: normal

h1::after
  display: none
  @media (min-width: $screen-sm)
    background: url('../images/ornate-2.svg') no-repeat
    display: block
    content: ' '
    background-size: 32px
    padding-top: 10px
    height: 20px
    margin: 0 auto
    color: $black3

