#location-title h4
  color             : $black3
  text-align        : center

#location-wrapper
  padding-left      : 10px
  padding-right     : 10px

#location-map
  padding-bottom    : 20px

#location-left-text
  color             : $grey4

#walking-icons
  text-align        : center
