#location-title h4
  color: $black3
  text-align: center

#location
  padding-left: 10px
  padding-right: 10px
  clear: both
  margin-bottom: 50px

#location p
  margin-top: 2em

#location-map
  padding-bottom: 20px

#location-left-text
  color: $grey4

#walking-icons, #walking-times
  text-align: center

#walking-times
  h4
    margin-top: 0

  span
    margin-bottom: 0


.times-contain li 
  width: 100%
  list-style: none

.mins
  font-family: $heading
  font-size: 2.3em
  padding-right: 0.2em

.walking-dest
  width: 65%
  float: left
  padding: 1.4em 3em
  height: 76px
  font-size: 1em
  background-color: white

.walking-times
  width: 35%
  background-color: $black3
  padding: 1em 2em
  float: left
  clear: both
  color: #fff

.icon-container h3, .icon-container .icon-walking 
  width: 100%
