/* Style overrides for non-mobile version */
@media (min-width: $screen-sm)

  /* Menu section */
  .navbar-nav #first-menu-item
    margin-top: 0 !important

  #menu
    border: 0 !important

  .navbar li
    margin-top: 20px
    margin-left: 20px

  #menu-middle-logo .glyphicon
    margin-top: 0


  /* About section */
  #about-wrapper
    padding-top: 0

  #about-logo .title
    margin-top: 20px

  #about-footer
    padding-top: 113px

  #nav-control
    position: absolute
    right: 2%
    bottom: 7%

  /* Rooms section */
  #room-title .title
    text-align: left

  #room-title .col-xs-offset-1
    margin-left: 20px !important

  .overlay
    background: none !important

  .right-overlay-md
    text-align: right

  /* Rates section */
  #rates-head
    p
      margin-right: 40px
      margin-bottom: 20px

    h4, #rates-text
      margin-right: 40px
      text-align: right

  #rates-table .title
    top: 0

  #rates-wrapper
    height: 100%
