/* Style overrides for non-mobile version */
@media (min-width: $screen-sm)

  /* Menu section */
  .navbar-nav #first-menu-item
    margin-top: 0 !important

  #menu
    border: 0 !important

  .navbar li
    margin-top: 20px
    margin-left: 20px

  #menu-middle-logo .glyphicon
    margin-top: 0


  /* About section */
  #about-wrapper
    padding-top: 0

  #about-logo .title
    margin-top: 20px

  #about-footer
    padding-top: 113px

  #nav-control
    position: absolute
    right: 2%
    bottom: 7%
