#rates
  text-align: center
  margin-top: 40px
  background-color: $blue2
  height: 690px  /* ONLY MOBILE */

#rates h1
  color: $black3
  position: relative
  top: 10px
  @media (min-width: $screen-sm)
    float: right

    text-align: right
    right: 20px

.rates-left
  padding-right: 5px
  padding-bottom: 10px

.rates-right
  padding-left: 5px

.rates-left .title,
.rates-left .sub-title1,
.rates-left .sub-title2
  background-color: $blue3
  font-family: $sans-serif

.rates-right .title,
.rates-right .sub-title1,
.rates-right .sub-title2
  background-color: $blue5
  font-family: $sans-serif
  font-weight: 300

#rates-head p
  color: $white1

#rates-table
  padding-left: 5px
  padding-right: 5px

#rates-table .title,
#rates-table .sub-title1,
#rates-table .sub-title2,
  padding-left: 10px
  padding-right: 10px
  text-align: left

#rates-table .title,
#rates-table .price-box
  color: $white1

#rates-table .title
  font-size: 1.5em
  position: relative
  top: 8px

#rates-table .sub-title1
  font-size: 1.5em
  color: $black3

#rates-table .sub-title2
  padding-bottom: 10px
  font-size: 1.1em
  color: $blue4

#rates-table .price-box
  padding-top: 15px
  padding-bottom: 15px
  background-color: $black3
  font-size: 3em
  font-family: $heading

#rates-text
  line-height: 23px

#rates-info-md
  padding: 10px 10px 10px 10px
  text-align: left

  .col-md-6
    padding-left: 20px

  ul
    padding-left: 15px

  h5
    margin-bottom: 2px

  .row-lower,
  #rates-info-title
    color: $white1
    background-color: $black1

#rates-info-title
  text-align: left
  padding: 10px 10px 10px 10px
  
  h5::before
    content: '+'
    color: $blue1
    font-size: 2em;
    float: left;

  span
    float: left

  h5
    text-transform: uppercase
    font-size: 1.2em
    padding-top: 5px
    margin-left: 40px

#rates p
  color: white
  margin-bottom: 3em