#room-image
  background-color: $black1

  p
    color: $white1

#room-title
  padding-top: 20px
  padding-bottom: 20px

  h4
    color: $black3
    text-align: center

#room-image-text
  line-height: 23px
  text-align: center
  margin-top: 20px
  margin-bottom: 20px

.overlay-content
  position: absolute
  bottom: 0
  color: #fff
  height: 98px
  width: 100%
  background: rgba($blue1, 0.70)
  @media (min-width: $screen-md)
    height: 72px;
    width: 82%;
    background: none

  svg.icon 
    color: #fff

  h4
    padding: 0
    margin-bottom: 0
    text-transform: uppercase
    font-family: $heading
    font-style: normal

  p
    display: inline
    font-size: 0.8em
    font-family: inherit

  .top span
    margin-bottom: 0

  .bottom span
    margin-top: 0

.bedroom-3-left, .bedroom-2-right
  position: relative

.bedroom-2-right .overlay-content
  text-align: right
  right: 20px
  h4
    text-align: right
    padding-left: 25px

.bedroom-3-left .overlay-content
  left: 20px
  h4
    text-align: left
    padding-left: 25px

#rooms h1
  @media (min-width: $screen-sm)
    text-align: left

