@import "bootstrap-compass"
@import "bootstrap-variables"

// select bootstrap components from _bootstrap-custom.scss
// comment in/out whatever, re-compile, voila 
@import "bootstrap-custom"

// all my custom partials
// modular Sass saves lives
@import "color-vars"
@import "menu"
@import "about"
@import "rooms"
@import "enquire"
@import "rates"
@import "facilities"
@import "location"
@import "contact"
@import "carousel"

// body *
//   border: 1px white solid

// global fonts
// @TODO - THIS SUCKS, REFACTOR
p
  font-family: "minion-pro",serif
  font-style: normal
  font-weight: 400

h1, h2, h3, h4, h5
  font-family: "abril-fatface",serif
  font-style: italic
  font-weight: 400

#about-footer *, #room-image-text p
  font-size: 1em
  font-family: "brandon-grotesque",sans-serif
  font-style: normal
  font-weight: 400
