@import "bootstrap-compass"
@import "bootstrap-variables"

// select bootstrap components from _bootstrap-custom.scss
// comment in/out whatever, re-compile, voila 
@import "bootstrap-custom"

// all my custom partials
// modular Sass saves lives
@import "color-vars"
@import "menu"
@import "about"
@import "rooms"
@import "enquire"
@import "rates"
@import "facilities"
@import "location"
@import "contact"
@import "carousel"
@import "fonts"
@import "media-queries"

// body *
//   border: 1px black solid

// BOOTSTRAP MISC OVERRIDES
.glyphicon
  margin-top: 10px
  margin-bottom: 10px
  font-size: 26px

.glyph-small
  font-size: 15px
